.meadowHayImage {
  margin: 40px;
  height: 360px;
  width: 360px;
}

.wickerBallsImage {
  margin: 40px;
  height: 200px;
  width: 300px;
}

.donationsTitle {
  margin-top: 40px;
  margin-bottom: 20px;
}

.fundraisingTitle {
  margin-top: 100px;
  margin-bottom: 0px;
}

@media only screen and (max-width: 700px) {
  .donationsTitle {
    margin-top: 20px;
  }

  .fundraisingTitle {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .meadowHayImage {
    height: 280px;
    width: 240px;
  }

  .wickerBallsImage {
    height: 120px;
    width: 200px;
  }
}
